@model Web.DiscountCodesGenerator.Models.ConsumeCodeModel

<div class="row">
    <h3>Consume a discount code</h3>
    <form class="row row-cols-lg-auto g-3 align-items-center" method="post" asp-page-handler="Consume">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <label class="col-sm-2 col-form-label col-form-label-sm">Code</label>
        <div class="col-12">
            <input class="form-control" type="text" asp-for="Code" />
            <span asp-validation-for="Code" class="text-danger"></span>
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Consume Code</button>
        </div>
    </form>
</div>

