@page
@model Web.DiscountCodesGenerator.Pages.ConsumeDiscountCodeModel
@{
    ViewData["Title"] = "Consume code";

    <partial name="_IndexConsumeCodePartial" model="Model.ConsumeCode" />

    <hr />
    if (Model.ShowResult)
    {
        <div class="row">
            <h3>✅ Existing/Added discount codes</h3>
            <pre>
            <code class="language-json">@Model.GeneratedCodes</code>
                    </pre>
        </div>
    }
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    @if (TempData["ToastMessage"] != null)
    {
        <script>
            showToast('@TempData["ToastType"]', '@Html.Raw(TempData["ToastMessage"])');
        </script>
    }
}